
# --- Banco de Dados PostgreSQL ---
DB_HOST=localhost
DB_PORT=5432
DB_NAME=DataKick
DB_USER=postgres
DB_PASSWORD=1234

# --- API-Football (RapidAPI) ---
RAPIDAPI_KEY=a022f0a636ea41cd8ab5bd10b4aa08c8
RAPIDAPI_HOST=api-football-v1.p.rapidapi.com
